<div class="container">
    <mat-card class="card">
        <div class="loginContainer">
            <mat-card-title>
                <span style="color: #4285F4;">F</span>
                <span style="color: #EA4335;">u</span>
                <span style="color: #FBBC05;">n</span>
                <span style="color: #4285F4;">d</span>
                <span style="color: #34A853;">o</span>
                <span style="color: #EB4E41;">o</span>
            </mat-card-title>
                <h1>Change Password</h1>
            <form class="formContainer" [formGroup]="ResetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="password">
                    <mat-form-field appearance="outline" >
                        <mat-label>Password</mat-label>
                        <input [type]="hide ? 'password' : 'text'" matInput id="password" formControlName="password">
                        <mat-error *ngIf="ResetPasswordForm.controls['password'].invalid">{{getErrorMessage("password")}}</mat-error>
                        <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
                    </mat-form-field>
                </div>
                <div class="password confirmPassword">
                    <mat-form-field appearance="outline" class="confirm">
                        <mat-label>Confirm</mat-label>
                        <input [type]="hide ? 'password' : 'text'" matInput id="confirmPassword"  formControlName="confirmPassword" pattern="{{ this.ResetPasswordForm.value.password}}" >
                        <mat-error *ngIf="ResetPasswordForm.controls['confirmPassword'].invalid" >Password doesn't match</mat-error>
                    </mat-form-field>  
                </div>
                <div>
                    <mat-checkbox id="showPassword" (click)="ShowPassword()">{{hide ? 'Show Password':'Hide Password'}}</mat-checkbox>
                </div>
                <div class="buttonContainer">
                  <button [routerLink]="['/login']" mat-button style="color: #1A73E8;">Cancel</button>
                  <button type="submit" mat-raised-button class="button">Reset</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>

