<div class="icon">
    <div class="icons">
        <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon mat-list-icon class="material-icons-outlined iconic" [matMenuTriggerFor]="reminderMenu">add_alert
            </mat-icon>
            <mat-menu #reminderMenu="matMenu" class="reminderBox">
                <button mat-menu-item [disabled]="true">Reminder</button>
                <button mat-menu-item *ngFor="let rem of reminders;let i=index"
                    (click)="addReminder(rem)"><span>{{rem.Text}}</span><span
                        style="color:#9DBDE1">{{rem.Time}}</span></button>
            </mat-menu>
        </button>
        <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon mat-list-icon class="material-icons-outlined iconic" (click)="openDialog()">person_add</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="colorPallete">
            <mat-icon mat-list-icon class="material-icons-outlined iconic " >color_lens
            </mat-icon>
        </button>
        <label for="image" style="margin-top: 10px;margin-left: 7px; width: 30px; cursor: pointer;">
            <input type="file" name="imagePath" accept="image/*" id="image" style="display:none;"
                (change)="onFileChanged($event)" />
                <mat-icon mat-list-icon class="material-icons-outlined iconic">image</mat-icon>
        </label>
        <button mat-icon-button class="example-icon favorite-icon" matTooltip="{{isArchive}}" (click)="archiveNote()">
            <mat-icon mat-list-icon class="material-icons-outlined iconic">archive</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="Moremenu">
            <mat-icon mat-list-icon class="material-icons-outlined iconic">more_vert</mat-icon>
            <mat-menu #Moremenu="matMenu" class="moreOption">
                <button mat-menu-item>add Label</button>
                <button mat-menu-item (click)="DeleteNote()">Delete Note</button>
            </mat-menu>
        </button>
    </div>
</div>
<mat-menu #colorPallete="matMenu" yPosition="above">
    <div class="colorbox">
        <span class="colors" (click)="ChangeColor(colors[i].color)" [style.background-color]="colors[i].color"
            matTooltip="{{colors[i].toolTip}}" *ngFor="let color of colors;let i=index">
            <mat-icon mat-list-icon *ngIf="colors[i].icon">done</mat-icon>
        </span>
    </div>
</mat-menu>