.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 70%;
    display: flex;
    flex-direction: row;
    padding: 3%;
    
    .registerContainer{
        flex-grow: 2;
        display: flex;
        flex-direction: column;
    }
    .imageContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
        }
    }
}
mat-card-title,mat-card-subtitle{
    font-size: 25px;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    margin-bottom: 15px,
}
h1{
    color: #202124;
}
.name{
    display: flex;
    flex-flow: row wrap;
    mat-form-field{
        font-size: 12px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

