@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
.card{
    width: 50%;
    display: flex;
    flex-direction: row;
    padding: 3%;
    border: 1px solid #DADCE0;
    border-radius: 10px;
    
    .registerContainer{
        display: flex;
        width: 83%;
        flex-direction: column;
    }
    .imageContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
        }
    }
}
$box-size: 10px;
mat-card-title,mat-card-subtitle{
    font-size: 25px;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    margin-bottom: 15px;
    color: #202124;
}
mat-hint{
    font-size: small;
}
.name,.password{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    mat-form-field{
        font-size: $box-size;
        input{
            padding:3px;
        }
    }
}
.email{
    width: 100%;
    font-size:  $box-size;
}
mat-label{
    font-size: 15px;
}
.formContainer{
   div {
    margin-top: 4%;
    }
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
    padding-top: 12%;
    .button{
        background-color: #1A73E8;
        color: #FFFFFF
    }
}

@media only screen and (max-width: 900px){
    .imageContainer{
        display: none !important;
    }
    .lastname,.confirm{
        margin-left: 0px!important;
    }
    .card{
        width: 100%;
        border-radius: 0px;
    }
    .container{
        margin-top: 0;
    }
    mat-form-field{
        width: 100%;
    }
    .password{
        margin-top: 16px!important;
    }
}


