  <!-- <mat-expansion-panel hideToggle (click)="hide = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="title">{{hide ? 'Take a note...' : 'Title'}}</mat-panel-title>
        <mat-panel-description >
            <div class="icons" [style.display]="hide? 'flex':'none' ">
            <mat-icon mat-list-icon class= "material-icons-outlined">check_box</mat-icon>
            <mat-icon mat-list-icon class= "material-icons-outlined">brush</mat-icon>
            <mat-icon mat-list-icon class= "material-icons-outlined">crop_original</mat-icon>  
            </div> 
            <div class="pin" [style.display]="!hide? 'flex':'none' " style="justify-content: right;">
                <mat-icon mat-list-icon class= "material-icons-outlined">beenhere</mat-icon>
            </div>  
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p >Take a note...</p>
    </mat-expansion-panel> -->
    <mat-card>
        <mat-card-title class="title">
            Take a Note...
        </mat-card-title>
        <mat-card-subtitle class="icons">
            <mat-icon mat-list-icon class= "material-icons-outlined">check_box</mat-icon>
            <mat-icon mat-list-icon class= "material-icons-outlined">brush</mat-icon>
            <mat-icon mat-list-icon class= "material-icons-outlined">crop_original</mat-icon>  
        </mat-card-subtitle>
    </mat-card>
