<mat-toolbar style="background-color: white;border-bottom: 1px solid #DADCE0;">
    <div class="menu">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon class="menuicon" (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <img src="../../../assets/fundooIcon.png" class="image">
        <mat-card-title style="margin-left: 5px; padding-top:14px;">
            <span style="color: #5F6368;font-weight:normal;;">Fundoo</span>
        </mat-card-title>
    </div>
    <div class="search">
        <mat-form-field class="search" appearance="fill" [style.width.px]=700>
            <input matInput placeholder="Search">
            <mat-icon matPrefix style="margin: 0 10px;">search</mat-icon>
        </mat-form-field>
    </div>
    <div class="endIcons">
        <button mat-icon-button class="example-icon favorite-icon" (click)="toggleView()">
            <mat-icon *ngIf="list" class="material-icons-outlined">view_agenda</mat-icon>
            <mat-icon *ngIf="!list">view_module</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>supervised_user_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <div class="userProfile">
            <img src="../../../assets/denis-harschi-umj2W38UOmc-unsplash.jpg" class="profilePic">
            <h1 style="font-size: 14px;">{{Userdetails.firstName}} {{Userdetails.lastName}}</h1>
            <p style="font-size: 14px;">{{Userdetails.email}}</p>
            <mat-divider style="margin: 10px;"></mat-divider>
            <button mat-stroked-button style="width: fit-content; margin-bottom: 4px;" click="signout()">Sign out</button>
            <mat-divider a></mat-divider>
        </div>
        </mat-menu>
    </div>
</mat-toolbar>
<mat-sidenav-container class="main">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="side_nav" (mouseover)="opened=true">
        <mat-nav-list>
            <mat-list-item (click)="getnotes='Notes'">
                <mat-icon mat-list-icon class="sidenavLogo">lightbulb_outline</mat-icon>
                <h4 mat-line>Notes</h4>
            </mat-list-item>
            <mat-list-item (click)="getnotes='Reminders'">
                <mat-icon mat-list-icon class="sidenavLogo">notifications_none</mat-icon>
                <h4 mat-line>Reminders</h4>
            </mat-list-item>
            <mat-list-item *ngFor="let label of labels;" (click)="getnotes='label'">
                <mat-icon mat-list-icon >label_outline</mat-icon>
                <h4 mat-line>{{label}}</h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon class="sidenavLogo material-icons-outlined">edit_outline</mat-icon>
                <h4 mat-line>Edit labels</h4>
            </mat-list-item>
            <mat-list-item (click)="getnotes='Archive'">
                <mat-icon mat-list-icon class="sidenavLogo material-icons-outlined">archive</mat-icon>
                <h4 mat-line>Archive</h4>
            </mat-list-item>
            <mat-list-item (click)="getnotes='Trash'">
                <mat-icon mat-list-icon class="sidenavLogo material-icons-outlined">delete</mat-icon>
                <h4 mat-line>Trash</h4>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="maincontent"  *ngIf="getnotes=='Notes' || getnotes=='Reminders'">
            <app-add-note></app-add-note>
        </div>
        <div class="notes">
            <app-get-notes *ngIf="getnotes=='Notes'"></app-get-notes>
            <app-get-archive-notes *ngIf="getnotes=='Archive'"></app-get-archive-notes>
            <app-get-reminder *ngIf="getnotes=='Reminders'"></app-get-reminder>
            <app-get-trash *ngIf="getnotes=='Trash'"></app-get-trash>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>