.footericons {
    display: flex !important;
    flex-direction: row !important;
    .icon{
        display: flex;
        justify-content: space-between;
        flex-grow: 2;
    }
    .button{
        display: flex;
        justify-content: flex-end;
        flex-grow: 2;
        padding-right: 10px;
        margin-bottom:-10px ;
    }
}
::ng-deep .mat-menu-panel-1 {
    width: 150px !important;
    border-radius: 8px !important;
}
::ng-deep #mat-menu-panel-2 {
    width: 150px !important;
    border-radius: 8px !important;
    min-height: auto;
}
button.mat-menu-item {
    width: 100%;
    height: 40px;
}
::ng-deep .mat-menu-content:not(:empty) {
    padding-top: 0;
     padding-bottom: 0; 
}