<div class="footericons">
    <div class="icon">
        <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon mat-list-icon class="material-icons-outlined" [matMenuTriggerFor]="reminderMenu">add_alert</mat-icon>
            <mat-menu #reminderMenu="matMenu" class="note_menu">
                <div>Reminder:</div>
                <button mat-menu-item>Later Today  ,8:00 PM</button>
                <button mat-menu-item>Tommorow ,8:00 AM</button>
                <button mat-menu-item>Next Week Mon,8:00 AM</button>
            </mat-menu>
        </button>
        <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon mat-list-icon class="material-icons-outlined">person_add</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon mat-list-icon class="material-icons-outlined">color_lens</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon mat-list-icon class="material-icons-outlined">image</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon mat-list-icon class="material-icons-outlined">archive</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="menu">
            <mat-icon mat-list-icon class="material-icons-outlined">more_vert</mat-icon>
            <mat-menu #menu="matMenu" class="moreItems"> 
                <button mat-menu-item>add Label</button>
                <button mat-menu-item>add Label</button>
            </mat-menu>
        </button>
        <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon mat-list-icon class="material-icons-outlined">redo</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon mat-list-icon class="material-icons-outlined">undo</mat-icon>
        </button>
    </div>
    <div class="button">
        <button mat-button style="color: #1A73E8;" (click)="saveNote()">Close</button>
    </div>
</div>