<div class="footericons">
    <div class="icon">
        <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon mat-list-icon class="material-icons-outlined">add_alert</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon mat-list-icon class="material-icons-outlined">person_add</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon mat-list-icon class="material-icons-outlined">color_lens</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon mat-list-icon class="material-icons-outlined">image</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon mat-list-icon class="material-icons-outlined">archive</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="menu">
            <mat-icon mat-list-icon class="material-icons-outlined">more_vert</mat-icon>
            <mat-menu #menu="matMenu" class="moreItems"> 
                <button mat-menu-item>Item 1</button>
            </mat-menu>
        </button>
        <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon mat-list-icon class="material-icons-outlined">redo</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon mat-list-icon class="material-icons-outlined">undo</mat-icon>
        </button>
    </div>
    <div class="button">
        <button mat-button style="color: #1A73E8;" (click)="saveNote()">Close</button>
    </div>
</div>