<div class="container">
    <mat-card class="card">
        <div class="ForgotContainer">
            <mat-card-title>
                <span style="color: #4285F4;">F</span>
                <span style="color: #EA4335;">u</span>
                <span style="color: #FBBC05;">n</span>
                <span style="color: #4285F4;">d</span>
                <span style="color: #34A853;">o</span>
                <span style="color: #EB4E41;">o</span>
            </mat-card-title>
                <h1> Account Recovery </h1>
                <h3>Recover Your Fundoo Account</h3>
            <form class="formContainer" [formGroup]="ForgotPasswordForm" (ngSubmit)="onSubmit()">
                <div class="email">
                    <mat-form-field appearance="outline">
                        <mat-label>UserName</mat-label>
                        <input type="email" matInput id="email" formControlName="email">
                    </mat-form-field>
                </div>
                <div class="buttonContainer">
                    <button [routerLink]="['/register']" mat-button style="color: #1A73E8;">Cancel</button>
                  <button type="submit" mat-raised-button class="button">Next</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>

