@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
.card{
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    min-height: 400px;
    text-align: center;
    border: 1px solid #DADCE0;
}
mat-card-title{
    font-size: 25px;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    margin-bottom: 15px;
    color: #202124;
}
mat-form-field{
    width: 100%;
    mat-label{
        font-size: 18px;
    }
}
::ng-deep .mat-form-field-appearance-outline .mat-focused .mat-form-field-outline-thick{
    color: #2E7FEA!important;
}

 .buttonContainer{
     display: flex;
     justify-content: flex-end;
     padding-top: 17px;
     .button{
         background-color: #1A73E8;
         color: #FFFFFF
     }
 }
 