<div class="container">
    <mat-card class="card">
        <div class="loginContainer">
            <mat-card-title>
                <span style="color: #4285F4;">F</span>
                <span style="color: #EA4335;">u</span>
                <span style="color: #FBBC05;">n</span>
                <span style="color: #4285F4;">d</span>
                <span style="color: #34A853;">o</span>
                <span style="color: #EB4E41;">o</span>
            </mat-card-title>
                <h1> Sign in</h1>
                <h2>Use Your Google Account</h2>
            <form class="formContainer">
                <div class="email">
                    <mat-form-field appearance="outline">
                        <mat-label>FirstName</mat-label>
                        <input matInput id="FirstName">
                    </mat-form-field>
                </div>
                <div class="password">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput id="password">
                    </mat-form-field>
                </div>
                <div class="buttonContainer">
                  <button mat-button style="color: #1A73E8;">Sign in instead</button>
                  <button mat-raised-button class="button" >Register</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>
