@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
.card{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    text-align: center;
    border: 1px solid #DADCE0;
    border-radius: 10px;
    
    .loginContainer{
        display: flex;
        flex-direction: column;
    }
}
mat-card-title{
    font-size: 25px;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    margin-bottom: 15px;
    color: #202124;
}
mat-form-field{
    width: 100%;
    mat-label{
        font-size: 17px;
    }
}
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
    color: #2E7FEA!important;
}
.formContainer{
    div {
     margin-top: 4%;
     }
 }

 .buttonContainer{
     display: flex;
     justify-content: space-between;
     padding-top: 12%;
     .button{
         background-color: #1A73E8;
         color: #FFFFFF
     }
 }
 .forgotPassword{
     margin-top: -13px;
     display: flex;
     align-items: flex-start;
     padding: 0;
 }
 @media only screen and (max-width: 750px){
    .card{
        width: 50%;
        display: flex;
        flex-direction: column;
        border-radius: 0px;
        height: auto;
    }
    .container{
        padding-top: 5%;
    }
    mat-form-field{
        width: 100%;
    }
    h1,h3,mat-card-title{
        font-size: 18px;
    }
    
 }